@model relentlessones.Models.Tournament

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Tournament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OpponentName" class="control-label"></label>
                <input asp-for="OpponentName" class="form-control" />
                <span asp-validation-for="OpponentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerID" class="control-label"></label>
                <input asp-for="PlayerID" class="form-control" />
                <span asp-validation-for="PlayerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointsFor" class="control-label"></label>
                <input asp-for="PointsFor" class="form-control" />
                <span asp-validation-for="PointsFor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PointsAgainst" class="control-label"></label>
                <input asp-for="PointsAgainst" class="form-control" />
                <span asp-validation-for="PointsAgainst" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
